body, html {
  background-image: url('https://img00.deviantart.net/f55a/i/2015/320/1/7/pokeball_wallpaper_by_drpokelover-d9gwrgf.jpg');
  background-repeat: repeat;
  background-position: center;
  height: 100%;
  margin: 0;
}

.headNav {
  background-color: white;
  color: red;
  font-family: 'Press Start 2P', cursive;
  height: auto;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  cursor: pointer;
  z-index: 1;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: red;
}

input {
  border-radius: 5px;
}

select {
  background-color: white;
  color: red;
  border-radius: 3px;
}

@keyframes pokeballDuration {
  0% {
    visibility: visible;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.myPokeBall {
  animation: pokeballDuration 2.4s infinite alternate;
  position: fixed;
  top: 104px;
  margin-left: 280px;
  cursor: pointer;
}

.DeliContainer {
  background-image: url("https://pokewalls.files.wordpress.com/2011/04/225delibird1600x1200.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 9px;
  margin: 0 auto;
  height: auto;
  visibility: hidden;
  margin-top: 100px;
}

.deliTalk {
  border-radius: 9px;
  padding-left: 34px;
  font-family: 'Press Start 2P';
  color: white;
}

.deliBirdGif {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.deliStats {
  border-radius: 9px;
  font-family: 'Press Start 2P';
  color: #de3e32;
  font-size: 25px;
  text-align: center;
}

.SquirtleContainer {
  background-image: url("https://img00.deviantart.net/bfdd/i/2016/273/8/4/squirtle_wallpaper_by_awesomalicious-dajexu4.png");
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 9px;
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 105px;
  visibility: hidden;
}

.squirtleTalk {
  border-radius: 9%;
  font-family: 'Press Start 2P';
  color: white;
}

.squirtleGif {
  cursor: pointer;
}

.squirtleSelects {
  background-color: white;
  color: #86c4d0;
  border-radius: 3px;
}

.squirtleStats {
  color: #34535d;
  font-size: 25px;
  font-family: 'Press Start 2P';
  border-radius: 5px;
  text-align: center;
}

.LoudredContainer {
  background-image: url("https://pokewalls.files.wordpress.com/2012/12/294loudred1920x1200.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 105px;
  visibility: hidden;
}

.loudredGif {
  cursor: pointer;
}

.loudredTalk {
  border-radius: 9px;
  font-family: 'Press Start 2P';
  color: white;
}

.loudredSelects {
  background-color: white;
  color: purple;
  border-radius: 3px;
}

.loudredStats {
  color: purple;
  border-radius: 3px;
  font-size: 25px;
  font-family: 'Press Start 2P';
  text-align: center;
}

.loadCharacters {
  animation: appear 3s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    opacity: 0.0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.9;
  }
}

@media (max-width: 500px) {
  .deliTalk {
    width: 50%;
    padding-left: 0px;
  }
  .deliStats {
    font-size: 20px;
  }
  .squirtleStats {
    font-size: 20px;
    top: 105px;
  }
  .squirtleGif {
    width: 30%;
  }
  .squirtleCenter {
    text-align: center;
  }
  .squirtleContainer {
    padding-bottom: 0px;
  }
  .loudredStats {
    font-size: 20px;
    width: 100%;
    top: 105px;
  }
  .loudredTalk {
    width: 58%;
  }
  .loudredGif {
    width: 30%;
  }
  .myPokeBall {
    margin-left: 0px;
  }
  .headNav {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .headNav {
    width: auto;
  }
  .myPokeBall {
    margin-left: 0px;
  }
  .deliTalk {
    padding-left: 0px;
    width: 50%;
  }
  .deliStats {
    font-size: 20px;
  }
  .squirtleGif {
    width: 25%;
  }
  .squirtleStats {
    font-size: 20px;
  }
  .loudredTalk {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .squirtleGif {
    width: 20%;
  }
  .loudredGif {
    width: 25%;
  }
  .loudredTalk {
    width: 50%;
  }
  .deliTalk {
    width: 50%;
  }
  .headNav {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .squirtleGif {
    width: 20%;
  }
}

.modal-img {
  width: 200px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
}

.modal-content {
  background-color: red;
  margin: 15% auto;
  border: 1px groove #888;
  width: 50%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
