body, html {
  background-image: url('https://img00.deviantart.net/f55a/i/2015/320/1/7/pokeball_wallpaper_by_drpokelover-d9gwrgf.jpg');
  background-repeat: repeat;
  background-position: center;
  height: 100%;
  margin: 0;
}

.headNav {
  background-color: white;
  color: red;
  font-family: 'Press Start 2P', cursive;
  height: 40px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position:fixed;
  width: 100%;
  cursor: pointer;
}

input {
  border-radius: 5px;
}

select {
  background-color: white;
  color: red;
  border-radius: 3px;
}

@keyframes pokeballDuration{
  0%{
    visibility: visible;
  }
  25%{
    visibility: visible;
  }
  50%{
    visibility: visible;
  }
  75%{
    visibility: visible;
  }
  100%{
    visibility: hidden;
  }
}
.myPokeBall {
  animation: pokeballDuration 2s;
  animation-fill-mode: forwards;
}

.DeliContainer {
  background-image: url("https://pokewalls.files.wordpress.com/2011/04/225delibird1600x1200.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 9px;
  margin: 0 auto;
  height: auto;
}

.deliTalk {
border-radius: 9px;
padding-left: 34px;
font-family: 'Press Start 2P';
color: white;
}

.deliBirdGif {
  font-family:'Press Start 2P', cursive;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.deliStats {
  border-radius: 9px;
  font-family: 'Press Start 2P';
  color: #de3e32;
  font-size: 25px;
}

.SquirtleContainer {
  background-image: url("https://img00.deviantart.net/bfdd/i/2016/273/8/4/squirtle_wallpaper_by_awesomalicious-dajexu4.png");
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 9px;
  margin: 0 auto;
}

.squirtleTalk {
  border-radius: 9%;
  font-family: 'Press Start 2P';
  color: white;
}

.squirtleGif {
  cursor: pointer;
}
.squirtleSelects {
background-color: white;
color: #86c4d0;
border-radius: 3px;
}

.squirtleStats {
color: #34535d;
font-size: 25px;
font-family: 'Press Start 2P';
border-radius: 5px;
}

.LoudredContainer {
  background-image: url("https://pokewalls.files.wordpress.com/2012/12/294loudred1920x1200.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin:0 auto;
}

.loudredGif {
  cursor: pointer;
}

.loudredTalk {
  border-radius: 9px;
  font-family: 'Press Start 2P';
  color: white;
}

.loudredSelects {
  background-color: white;
  color: purple;
  border-radius: 3px;
}

.loudredStats {
  color: purple;
  border-radius: 3px;
  font-size: 25px;
  font-family: 'Press Start 2P';
}
